/* Google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* font-family: "Merriweather", serif; */
/* font-family: "Inter", sans-serif; */


/* common tags 
=============== */
.common-section {
    width: 1120px;
    height: 550px;
    margin: 30px auto;
    border-radius: 10px 10px 10px 10px;
}

.common-font-1 {
    font-family: "Merriweather", serif;
}

.common-font-2 {
    font-family: "Inter", sans-serif;
}

.common-color {
    color: #FF0000;
}


/* header styles 
================ */
.header {
    background: linear-gradient(180deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-content {
    width: 450px;
    height: 150px;
    text-align: center;
    color: #fff;
}

.header-subtitle {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 6%;
    line-height: 10px;
}

.header-title {
    font-size: 50px;
    line-height: 60px;
}

/* all category styles 
====================== */
.all-category-section {
    width: 680px;
    height: 650px;
    margin: 80px auto;
}

.category-box {
    text-align: center;
    line-height: 0px;
}

.category-offer {
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 25px;
}

.category-subtitle {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.category-img img {
    margin-top: 20px;
    width: 100%;
}

.category-title {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: #070211;
    font-weight: 700;
}

/* welcome styles 
================== */

.welcome-banner {
    background: linear-gradient(110deg, rgb(16, 16, 16)-19.5%, rgba(0, 0, 0, 0) 100%), url('../images/Vectorrr.png');
    /* background-image: ; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.welcome-container {
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
    align-items: center;
}


.welcome-title {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 10%;
    line-height: 60px;
    color: #fff;
}

.welcome-description {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

.join-btn {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #fff;
    margin-left: 20px;
}

.welcome-img {
    width: 100%;
    text-align: right;
}

.welcome-img img {
    margin-top: 40px;
}

/* blog styles
=============== */

.blog-section {
    width: 1120px;
    height: 400px;
    margin: 30px auto;
    background: linear-gradient(180deg,
            rgba(255, 128, 128, 0.2),
            rgba(255, 128, 128, 0.2),
            rgba(255, 128, 128, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
}

.article-box {
    text-align: center;
}

.article-common-size {
    font-size: 25px;
    line-height: 5px;
    color: #070211;
    font-weight: 600;
}

.btn {
    font-family: "Inter", sans-serif;
    padding: 10px 20px 10px 20px;
    color: #fff;
    font-weight: 500;
    background-color: #FF0000;
    border: none;
    border-radius: 3px;
}

/* blog-section-2 styles
======================== */
.blog-section-2 {
    width: 1120px;
    height: 400px;
    margin: 30px auto;
    display: flex;
    align-items: center;
}

.blog-container {
    display: flex;
    align-items: center;
}

.blog-article {
    max-width: 373px;
}

.blog-subtitle {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: #FF0000;
    font-weight: 500;
}

.blog-title {
    font-size: 30px;
    font-weight: 700;
}

.blog-description {
    opacity: 100%;
    font-size: 15px;
    color: #070211;
}

.blog-banner-img {
    max-width: 373px;
    border: 10px solid #FF0000;
    border-radius: 50%;
    padding: 10px;
    margin: 0 30px 0 10px
}

.blog-banner-img img {
    width: 100%;

}

.blog-new-year {
    max-width: 373px;
}

.new-year-title {
    font-size: 25px;
    font-weight: 700;
}

.new-year-description {
    font-size: 15px;
    margin-bottom: 30px;
}

/* blog offer styles 
==================== */

.blog-offer-section {
    /* background-color: rgb(203, 192, 192); */
    width: 1120px;
    height: 780px;
    margin: 30px auto;
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    border-radius: 10px 10px;
}

.blog-offer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-offer-articles {
    max-width: 630px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.offer-images {
    display: flex;
}

.offer-images {
    width: 100%;
}

.img-1 img {
    width: 80%;
}

.blog-offer-subtitles {
    font-size: 14px;
    font-weight: 600;
    color: #070211;
}

.blog-offer-title {
    font-size: 50px;
    line-height: 10px;
}

.blog-offer-description {
    font-size: 15px;
    color: #070211;
}


/* fashion styles 
================= */
.fashion-box {
    width: 1120px;
    height: 780px;
    margin: 30px auto;
}

.fashion-grid {
    width: 100%;
}

.fashion-articles {
    width: 650px;
    line-height: 20px;
}

.fashion-grid img {
    width: 33%;
    gap: 10px;
}

.fashion-subtitle {
    font-size: 15px;
    font-weight: 500;
}

.fashion-title {
    font-size: 35px;
    font-weight: 700;
}

.fashion-description {
    font-size: 15px;
    opacity: 100%;
}