/* Google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* font-family: "Merriweather", serif; */
/* font-family: "Inter", sans-serif; */


/* common tags 
=============== */
.common-style-1 {
    font-family: "Merriweather", serif;
    color: #fff;
}

.common-style-2 {
    font-family: "Inter", sans-serif;
    color: #FF0000;
}

/* header styles 
================ */
.header {
    width: 1120px;
    height: 550px;
    margin: 30px auto;
    border-radius: 10px 10px 10px 10px;
    background: linear-gradient(180deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-content {
    width: 450px;
    height: 150px;
    text-align: center;
}

.header-subtitle {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 6%;
    line-height: 10px;
}

.header-title {
    font-size: 50px;
    line-height: 60px;
}

/* all category styles 
====================== */
.all-category-section {
    width: 680px;
    height: 650px;
    margin: 80px auto;
}

.category-box {
    text-align: center;
    line-height: 0px;
}

.category-offer {
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 25px;
}

.category-subtitle {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.category-img img {
    margin-top: 20px;
    width: 100%;
}

.category-title {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: #070211;
    font-weight: 700;
}